<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:ital,wght@0,400;1,300&display=swap" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/c1be129f0d.js" crossorigin="anonymous"></script>
    <link  rel="stylesheet" href="/css/styles.css" />
    <title>Mercado Liebre Diego Iacub</title>
  </head>
  <body>
    <header>
      <div class="headerLogo-busqueda">
        <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre"/>
        
        <input class="buscador" class="lupa" type="text" placeholder="Buscar productos, marcas..">
        
        <i class="fa fa-search lupa"></i>
        
        <h2 class="cuotas">
          <i class="fa-solid fa-hand-holding-dollar"></i>
          Comprá en cuotas y sin tarjeta de crédito
          <h2>
          </div>
<!------ NAVBAR -------->
      <nav class="toda-navbar">
        <ul class="izquierda-navbar">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>

        <ul class="right-navbar">
          <li><a href="/register">Creá tu cuenta</a><i class="fa-solid fa-id-card"></i>
          </li>
          <li><a href="/login">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i>
          </li>
          <li><a href="#">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i>
          </li>
        </ul>
      </nav>
<!----- Icono Menu ----->
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>
<!-- Banner -->
    <div class="banner">
      <img src="/images/img-home-banner.jpg" alt="Banner de ofertas" />
    </div>
  <main>
<!-- Ultimas Visitas -->
      <h3>Basado en tu última visita</h3>
      <section>
        <div class="products">
        <article>
          <img src= "/images/img-cafetera-moulinex.jpg" alt="Cafetera" class="barra"/>
          <div class="logo-envio barra" >
            <i class="fa-solid fa-truck"></i>
          </div>
            <div class="price-discount">
              <p class="price">$6.770</p>
              <p class="discount">40% off</p>
            </div>
            <h4 class="description">Cafetera Moulinex</h4>
        </article>
        <article>
          <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook"/>
          <div class="logo-envio barra"><i class="fa-solid fa-truck"></i>
          </div>
            <div class="price-discount">
              <p class="price">$230.000</p>
              <p class="discount">20% off</p>
            </div>
            <h4 class="description">MacBook Pro 2019</h4>
        </article>
      </div>
      <div class="products">
        <article>
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="img-movil" />
          <div class="logo-envio barra"><i class="fa-solid fa-truck"></i>
          </div>
          <div>
            <div class="price-discount">
              <p class="price">$70.500</p>
              <p class="discount">10% off</p>
            </div>
            <h4 class="description">Teléfono móvil Samsung Galaxy S10</h4>
          </div>
        </article>
        <article>
          <img src= "/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung"  />
          <div class="logo-envio barra"><i class="fa-solid fa-truck"></i>
          </div>
          <div>
            <div class="price-discount">
              <p class="price">$23.200</p>
              <p class="discount">5% off</p>
            </div>
            <h4 class="description">SmartTv Samsung 43"</h4>
          </div>
        </article>
      </div>
      </section>
<!-- Ofertas  -->
      <h3>Ofertas</h3>
      <section>
        <div class="products">
        <article>
          <img src= "/images/img-cafetera-moulinex.jpg" alt="Cafetera" />
          <div class="logo-envio barra"><i class="fa-solid fa-truck"></i>
          </div>
          <div>
            <div class="price-discount">
              <p class="price">$6.770</p>
              <p class="discount">40% off</p>
            </div>
            <h4 class="description">Cafetera Moulinex</h4>
          </div>
        </article>
        <article>
          <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook" />
          <div class="logo-envio barra"><i class="fa-solid fa-truck"></i>
          </div>
          <div>
            <div class="price-discount">
              <p class="price">$230.000</p>
              <p class="discount">20% off</p>
            </div>
            <h4 class="description">MacBook Pro 2019</h4>
          </div>
        </article>
      </div>
      <div class="products">
        <article>
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy"/>
          <div class="logo-envio barra"><i class="fa-solid fa-truck"></i>
          </div>
          <div>
            <div class="price-discount">
              <p class="price">$70.500</p>
              <p class="discount">10% off</p>
            </div>
            <h4 class="description">Teléfono móvil Samsung Galaxy S10</h4>
          </div>
        </article>
        <article>
          <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" />
          <div class="logo-envio barra"><i class="fa-solid fa-truck"></i>
          </div>
          <div>
            <div class="price-discount">
              <p class="price">$23.200</p>
              <p class="discount">5% off</p>
            </div>
            <h4 class="description">SmartTv Samsung 43"</h4>
          </div>
        </article>
      </div>
      </section>
    </main>
    
<!-- FOOTER -->
    <footer>
      <div class="footer-design">
      <div>
        <i class="fa-solid fa-credit-card iconos"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>   
    <div class="texto-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
       en puntos de pago. ¡Y siempre es seguro!</div>
    </div>
    <div>
    <i class="fa-solid fa-gift iconos"></i>
      <h4>Envío gratis desde $ 2.500</h4>
      <div class="texto-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles 
        deproductos. Es un beneficio de Mercado Puntos.</div>
      </div>
      <div>
        <i class="fa-solid fa-user-shield iconos"></i>
        <h4>Seguridad, de principio a fin</h4> 
      <div class="texto-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.</div>
      </div>
    </div>
    <div class="copy-right">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
    </footer>
  </body>
</html>
