*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

/* HEADER */

header {
background-color: #EAC926;
}

.logo {
    width: 25vw;
}

/* Barra de busqueda */

.buscador {
    font-size: 10px;
    width: 35vw;
    border-radius: 0.3em;
    height: 23px;
}

/* Icono de lupa (buscador) */

.lupa {
    background-color: #ebebeb;
    padding: 5px;
    border-radius: 0.3em;
    height: 40%;
}

/* Compra en cuotas y tarjeta de credito  */

.cuotas {
    font-size: 12px;
    width: 30vw;
    text-align: right;
    padding: 15px;
}

/* NAVBAR */
ul {
    list-style: none;
}

.toda-navbar {
    align-items: center;
}



.toda-navbar a {
    text-decoration: none;
    color: black;
    }



/* Menu de la hamburguesa */
.burger-menu {
    background-color: blue;
    color: white;
    font-size: 20px;
    position: relative;
    display: inline-block;
    left: 45%;
    padding: 10px;
    border-radius: 0.3em;
    margin: 5px 0px;
}
/* Banner ML */
.banner img {
    width: 100vw;
}

/* BODY */
body {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 24px;
    padding: 10px;
}

main {
    place-content: center;
    margin: 20px;
    background-color: rgba(227, 227, 227, 0.812);
}

/* Secciones de los articulos */
article  {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    margin: 10px;
    background-color: #ffff;
}

article img {
    width: 90%;
    height: 90%;
}

article div.barra {
    border-top: solid 1px #ebebeb;
    position: relative;
}
/* Icono del camion */
main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    }


.price {
    font-size: 18px;
    text-align: left;
    flex-grow: 30%;
}

.discount{
    font-size: 18px;
    color: greenyellow;
    text-align: left;
    flex-grow: 70%;
    padding-left: 5px;
}

.description {
    font-size: 16px;
}

.price-discount {
    display: flex;
    margin-top: 5px;
}

.logo-envio {
    color: green;
}
/* Footer  */

footer {
    text-align: center;
    height: 20vh;
}

.iconos {
    font-size: 2em;
    margin-bottom: 10px;
    color: blue;
}

.copy-right {
    margin: 10px 5px;
    text-align: center;
}


/* Mobile */
@media (max-width: 480px) {
    .description {
        display: none;
    }
     nav {
    display: none;
    }
    .headerLogo-busqueda {
display: flex;
flex-wrap: wrap;
padding: 10px;
}
.cuotas h2{
    font-size: 12px;
    text-align: center;
}
    
}
    /*Mobile large  */
    @media (min-width: 481px) {
     article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
     }
     .headerLogo-busqueda {
        display: flex;
        align-items: center;
        padding: 20px;
        justify-content: space-evenly;
    }
    .logo {
        display: flex;
        
    }
    .buscador {
        display: flex;
        
    }
    .cuotas {
        display:flex;
        
    }
    .cuotas h2{
        font-size: 12px;
        text-align: center;
    }

    .toda-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .toda-navbar ul {
        display: flex;
    }
    .toda-navbar li {
        margin: 10px 10px;
    }
   

     .burger-menu {
         display: none;
     }
     
    }

    /* Tablet */
    @media (min-width: 768px) {
        .headerLogo-busqueda {
            display: flex;
            align-items: center;
            padding: 20px;
            justify-content: space-evenly;
        }
        .logo {
            display: flex;
            
        }
        .buscador {
            display: flex;
            
        }
        .cuotas {
            display:flex;
            
        }
        .cuotas h2{
            font-size: 12px;
            text-align: center;
        }

        .toda-navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
        }
        .toda-navbar ul {
            display: flex;
        }
        .toda-navbar li {
            margin: 10px 10px;
        }
       
       .section div.products {
           display: flex;
       }

       /*article {
           padding: 20px;
       }
      */
    }
/* Desktops and monitors */
    @media (min-width: 1200px) {
        .headerLogo-busqueda, .toda-navbar {
            max-width: 1200px;
            margin: auto;
            justify-content: space-evenly;
            display: flex;
        }
        section {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
        }
        
        article {
            box-shadow: none;
            transition-property: all;
            transition-duration: 0.5s;
        }
        article:hover {
            box-shadow:0px 0px 10px rgb(100, 100, 100) ;
        }
        main section article i {
            transition: all 0.5s;
        }
        main section article i:hover {
            transform:rotateZ(-90deg);
        }
        
        .footer-design {
            display: flex;
            margin:10px;
        }
        .copy-right {
            text-align: center;
            margin-top: 40px;
            font-weight: bold;
        }
       .texto-footer {
           display: flex;
           margin: 0 50px;
       }

       .izquierda-navbar li {
           transition-property: all;
           transition-duration: 0.5s;
       }
       .izquierda-navbar li:hover {
           text-decoration: underline;
       }
       .right-navbar li {
           transition-property: all;
           transition-duration: 0.5s;
       }
       .right-navbar li:hover {
        text-decoration: underline;
       }

    }